parameters:
    level: max

    paths:
        - src
        - tests

    symfony:
        container_xml_path: '%rootDir%/../../../var/cache/dev/App_KernelDevDebugContainer.xml'

    doctrine:
        objectManagerLoader: tests/object-manager-stub.php

    reportUnmatchedIgnoredErrors: false
